{% extends 'base.html' %}
{% load review_extras %}
{% block content %}


    <div class="containerbtnfeed">
        <a  href="{% url 'ticket_create' %}"><button class="btnfeed1">Demander une critique</button></a>
        <a  href="{% url 'review_create' %}"><button class="btnfeed2">Créer une critique</button></a>
    </div>

    {% for instance in tickets_and_reviews %}
        {% if instance|model_type == 'Review' %}
            <div class="feed reviewfeed">
                <p class="datetime">{{ instance.time_created }}</p>
                <p>{{ instance.user }}</p>
                <p>{{ instance.rating }}</p>
                <p>{{ instance.headline }}</p>
                <p>{{ instance.body }}</p>
                <div class="ticketinsidereview">
                    <p>{{ instance.ticket.title }}</p>
                    <p>{{ instance.ticket.description }}</p>
                        {% if instance.ticket.image %}
                            <img src="{{ instance.ticket.image.url }}">
                        {% endif %}
                </div>
                <div class="threebtns">
                    <a href="{% url 'review_update' review.id %}"><button>Modifier</button></a>
                    <a href="{% url 'review_delete' review.id %}"><button>Supprimer</button></a>
                </div>
            </div>


        {% elif instance|model_type == 'Ticket' %}
            <div class="feed ticketfeed">
                <p class="datetime">{{ ticket.time_created }}</p>
                <p>{{ ticket.title }}</p>
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}">
                {% endif %}
                <p>{{ ticket.description }}</p>
                <p>{{ ticket.user }}</p>
                <div class="threebtns">
                    <a href="{% url 'ticket_update' ticket.id %}"><button>Modifier</button></a>
                    <a href="{% url 'ticket_delete' ticket.id %}"><button>Supprimer</button></a>
                    <a href="{% url 'review_from_ticket' ticket.id %}"><button>Créer une critique</button></a>
                </div>
            </div>
        {% endif %}

    {% endfor %}

{% endblock content %}
