{% extends 'base.html' %}

{% block content %}

<h2> Créer une critique  </h2>

<div class="container review">

<form class="formreview" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p id="livrearticle"> Livre / Article </p>

        <div class="form-group border exceptp">
                <p> Titre  </p>
                {{ ticket_form.title }}
        </div>

        <div class="form-group border exceptp">
                <p> Description  </p>
                {{ ticket_form.description }}
        </div>

        <div class="form-group border exceptp">
                <p> Image  </p>
                {{ ticket_form.image}}
        </div>

        <hr>

        <div class="form-group border exceptp">
                <p> Titre  </p>
                {{ review_form.headline }}
        </div>

        <div class="form-group border exceptp">
                <p> Note  </p>
                {{ review_form.rating }}
        </div>

        <div class="form-group border exceptp">
                <p> Commentaire  </p>
                {{ review_form.body}}
        </div>

        <div class="form-group">
                <button type="submit" >Envoyer</button>
        </div>

</form>
</div>

{% endblock %}
